* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 15.625rem;
    margin: 1.875rem auto;
    text-align: center;
}

.jumbotron {
    text-align: center;
    padding: 20px;
}

.container {
    width: 50%;
    margin: 0 auto;
}

main {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

main ul {
    list-style: none;
}

main ul li {
    padding-bottom: 10px;
}

main ul li:last-child {
    padding-bottom: 0;
}